<div class="hdc">
	<ul>
    <li> 443028, г.Самара</li>
    <li>мк Крутые ключи, 12-24</li>
    <li>тел.: 8(962)6040213</li>
	</ul>
</div>
<div class="hdc" style="float: left">
  Мы работаем с понедельника по пятницу<br/>
  С 9:00 до 18:00<br/>
  Обеденный перерыв с 12:00 до 13:00<br/>
  Суббота, Воскресенье - Выходной
</div>
<%= image_tag("contacts.jpg", :width => "300", :class => "s") %>
